:root{
  --mainBlue:#007bff;;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainBlack:#232528;
  --mainlightBlack:#231f20;
  --mainYellow:#ffa400;

}
body{
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainBlack) !important;

}
.Text-titlel{
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue);
}
.text-bright{
  color:var(--lightBlue);
}
.btn-black{
  background:transparent;
  border-radius:0 !important;
  text-transform: capitalize;
  color: var(--mainBlack);
  border:0.1rem solid var(--mainBlack) !important;
  font-size: 0.8rem !important;

  ;
}
.btn-black:hover{
  background:var(--mainBlack) !important;
  color: var(--mainWhite) !important;
}
.cart-icon{
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 1.2rem !important;

}
.navbar-center{
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
 
}
.text-caption{
  color:white !important;
  
}
.bground{
  background:white !important;
  

}
.card-img-top{
  border-color:transparent;
  transition:all 1s linear;
  border:0.04rem ;


}
.img-style{
  max-width: 100%;
  height: 25rem !important;
}